<div class="container">
  
  <div style="margin-right: auto; margin-left: auto" class="col-md-5">
    <img src="/assets/_rocket/R2-3c6296bf2343b849b947f8ccfce0de61dd34ba7f9e2a23a53d0a743bc4604e3c.png" width="350"
      height="115" alt="R2">
    
    <div class="card card-login mx-auto mt-5">
      
      <div class="card-header">Forgot password</div>
      
      <div class="card-body">
      
        <div class="form-group">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
      
          <div class="form-group">
      
            <div class="form-label-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control", autocomplete: "email" %>
            </div>
      
          </div>
      
        </div>
      
        <div class="actions">
          <%= f.submit "Reset password", class:"btn btn-primary" %>
        </div>
      
        <% end %>
      
        <%= link_to "Log in", "/users/sign_in" %>
      
      </div>
    </div>
  </div>
</div>