<!-- REVOLUTION SLIDER -->
<div class="slider fullwidthbanner-container roundedcorners">

	<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">

		<ul class="hide">

			<!-- SLIDE SLOGAN -->
			<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600" data-saveperformance="off" data-title="Slogan">

				<!-- MAIN IMAGE -->
				<img src="/assets/_REAssets/AdobeStock_162479912.jpeg" alt="cover image" data-bgposition="center" data-bgfit="cover" data-bgrepeat="no-repeat">

				<div class="tp-caption white_big skewfromleft tp-resizeme" data-x="471" data-y="65" data-speed="400" data-start="1500" data-easing="Power3.easeInOut" data-splitin="words" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 2; color: cornflowerblue; font-size:45px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:15;">
					Elevate Safety, <br /> Speed And Style
				</div>

				<div class="tp-caption content_text_center skewfromleft tp-resizeme" data-x="530" data-y="195" data-speed="500" data-start="2000" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600" style="z-index: 3; font-size:20px; color:rgb(25, 55, 190); font-weight:600; text-shadow:1;">
				</div>

				<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg" data-x="580" data-y="200" data-speed="300" data-start="2500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
					<a class="btn btn-red btn-danger btn-outline-primary btn-lg scrollTo" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
				</div>

				<div class="tp-caption sfb tp-resizeme" data-x="550" data-y="370" data-speed="500" data-start="1500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
					<a class="btn btn-red btn-danger btn-outline-primary btn-lg" href="quote" target="blank">GET YOUR QUOTE &nbsp;
						<i class="fa fa-angle-right"></i></a>
				</div>

			</li>


			<!-- SLIDE RESIDENTIAL -->
			<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" data-title="Residential">

				<!-- MAIN IMAGE -->
				<img src="/assets/_REAssets/res-wood.jpg" alt="cover image 2" data-bgposition="center" data-bgfit="cover" data-bgrepeat="no-repeat">

				<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="50" data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 2; color: cornflowerblue; font-size:45px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:10;">
					Facilitating your movements <br /> floor to floor
				</div>

				<div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500" data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 3; font-size:20px; color: midnightblue; font-weight:600; text-shadow:1;">
				</div>

				<div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500" data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 4; max-width: auto;">
					<a class="btn btn-red btn-danger btn-outline-primary btn-lg" href="residential.html" target="blank">OUR SERVICES &nbsp;
						<i class="fa fa-angle-right"></i></a>
				</div>

			</li>


			<!-- SLIDE COMMERCIAL -->
			<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300" data-saveperformance="off" data-title="Commercial">

				<!-- MAIN IMAGE -->
				<img src="/assets/_REAssets/Superman.JPG" alt="cover image 3" data-bgposition="center" data-bgfit="cover" data-bgrepeat="no-repeat">

				<div class="tp-caption font-roboto skewfromleft tp-resizeme" data-x="50" data-y="100" data-speed="500" data-start="1500" data-easing="Cubic.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 2; color: cornflowerblue; font-size:45px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:8;">
					Movement efficiency <br /> One floor at the time
				</div>

				<div class="tp-caption skewfromrightshort tp-resizeme" data-x="50" data-y="300" data-speed="500" data-start="1000" data-easing="easeInCirc" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 3; font-size:20px; color: midnightblue; font-weight:600; text-shadow:1;">
				</div>

				<div class="tp-caption sfb tp-resizeme" data-x="50" data-y="410" data-speed="500" data-start="1500" data-easing="Power3.easeIn" data-splitin="none" data-splitout="none" data-elementdelay="1" data-endelementdelay="0.1" data-endspeed="500" style="z-index: 4; max-width: auto;">
					<a class="btn btn-red btn-danger btn-outline-primary btn-lg" href="commercial.html" target="blank">OUR SERVICES &nbsp;
						<i class="fa fa-angle-right"></i></a>
				</div>

			</li>

		</ul>

	</div>

</div>
<!-- /REVOLUTION SLIDER -->


<hr class="m-0" /><!-- 1px line separator -->


<!-- BUTTON CALLOUT -->
<a href="#contact" class=" scrollTo btn btn-xlg fs-20 fullwidth m-0 rad-0 p-40">
	<span class="font-lato fs-30 font-weight: bold">
		Did Rocket Elevators convinced you?
		<strong>Contact us! &raquo;</strong>
	</span>
</a>
<!-- /BUTTON CALLOUT -->


<!-- Services -->
<section id="services">

	<div class="container">

		<div class="row">

			<div class="col-sm-4">
				<%= image_tag("_REAssets/Residential.jpg", :alt => "res") %>
				<h3 class="mt-10">Residential Buildings</h3>
				<p>When you need to move freely from floor to floor, but you can't use the stairs</p>
				<a href="residential.html" target="blank" class="btn btn-3d btn-reveal btn-red btn-outline-primary">
					<i class="glyphicon glyphicon-plus"></i>
					<span>EXPLORE</span>
				</a>
			</div>

			<div class="col-sm-4">
				<%= image_tag("_REAssets/download (2).jpg", :alt => "com") %>
				<h3 class="mt-10">Commercial Buildings</h3>
				<p>We keep your world moving.</p>
				<a href="commercial.html" target="blank" class="btn btn-3d btn-reveal btn-red btn-outline-primary">
					<i class="glyphicon glyphicon-plus"></i>
					<span>EXPLORE</span>
				</a>
			</div>

			<div class="col-sm-4">
				<%= image_tag("_REAssets/Awards.jpg", :alt => "Awards") %>
				<h3 class="mt-10">Awards and Projects</h3>
				<p>It all started with a promise.</p>
				<a href="#portfolio" data-filter="awards" class="scrollTo btn btn-3d btn-reveal btn-red btn-outline-primary filter">
					<i class="glyphicon glyphicon-plus"></i>
					<span>EXPLORE</span>
				</a>
			</div>

		</div>

	</div>

</section>
<!-- /Services -->


<!-- Parallax -->
<section class="parallax parallax-1" style="background-image: url('assets/_REAssets/AdobeStock_33298664.jpeg');">

	<div class="overlay dark-5">
	</div>

	<div class="container">

		<div class="text-center">
			<h2 class="fs-40 fw-300">Best Elevators Since 1976</h2>
			<a class="btn btn-red btn-danger btn-outline-primary btn-lg" href="quote" target="blank">GET YOUR QUOTE
				<i class="fa fa-angle-right"></i></a>
				&nbsp; OR &nbsp;
			<a class="btn btn-red btn-danger btn-outline-primary btn-lg scrollTo" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
		</div>

	</div>

</section>
<!-- /Parallax -->


<!-- PORTFOLIO -->
<section id="portfolio">

	<div class="container">

		<div class="heading-title heading-dotted text-center">
			<h1>Portfolio</h1>
		</div>

		<div class="text-center">
			<ul class="nav nav-pills mix-filter mb-60">
				<li data-filter="all" class="filter active"><a href="#">All</a></li>
				<li data-filter="residential" class="filter"><a href="#">Residential</a></li>
				<li data-filter="commercial" class="filter"><a href="#">Commercial</a></li>
				<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
			</ul>
		</div>

	</div>

	<div id="portfolio" class="portfolio-nogutter">

		<div class="row mix-grid">
			
			<!-- item -->
			<div class="col-md-3 col-sm-3 mix residential awards">

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="assets/_REAssets/glass-elevator-house.jpg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span>
								</a>
							</span>
						</span>
						<img class="img-fluid" src="assets/_REAssets/glass-elevator-house.jpg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Residential Project</h3>
						<ul class="list-inline categories m-0">
							<li><i class="fa fa-trophy"></i></li>
							<li>2018 Award Winner</li>
						</ul>
					</div>
				</div> 

			</div> <!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix residential">

				<div class="item-box">
					<figure>
						<img class="img-fluid" src="assets/_REAssets/House.jpg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Residential Design</h3>
						<ul class="list-inline categories m-0">
						</ul>
					</div>
				</div>

			</div><!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix residential">

				<div class="item-box">
					<figure>
						<img class="img-fluid" src="assets/_REAssets/images (1).jpg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Residential Development</h3>
						<ul class="list-inline categories m-0">
						</ul>
					</div>
				</div>

			</div><!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix residential">

				<div class="item-box">
					<figure>
						<img class="img-fluid" src="assets/_REAssets/images (7).jpg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Residential Art</h3>
						<ul class="list-inline categories m-0">
						</ul>
					</div>
				</div>

			</div><!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix residential">

				<div class="item-box">
					<figure>
						<img class="img-fluid" src="assets/_REAssets/Crystal-home-elevator.jpg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Residential Art</h3>
						<ul class="list-inline categories m-0">
						</ul>
					</div>
				</div>

			</div><!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix commercial">

				<div class="item-box">
					<figure>
						<img class="img-fluid" src="assets/_REAssets/AdobeStock_124493370.jpeg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Commercial Development</h3>
						<ul class="list-inline categories m-0">
						</ul>
					</div>
				</div>

			</div><!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix commercial awards">

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="assets/_REAssets/AdobeStock_53477661.jpeg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span>
								</a>
							</span>
						</span>
						<img class="img-fluid" src="assets/_REAssets/AdobeStock_53477661.jpeg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Commercial Design</h3>
						<ul class="list-inline categories m-0">
							<li><i class="fa fa-trophy"></i></li>
							<li>2018 Award Winner</li>
						</ul>
					</div>
				</div>

			</div><!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix commercial">

				<div class="item-box">
					<figure>
						<img class="img-fluid" src="assets/_REAssets/AdobeStock_78149317.jpeg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Commercial Art</h3>
						<ul class="list-inline categories m-0">
						</ul>
					</div>
				</div>

			</div><!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix commercial">

				<div class="item-box">
					<figure>
						<img class="img-fluid" src="assets/_REAssets/AdobeStock_103570025.jpeg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Commercial Design</h3>
					</div>
				</div>

			</div><!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix commercial awards">

				<div class="item-box">
					<figure>
						<span class="item-hover">
							<span class="overlay dark-5"></span>
							<span class="inner">
								<!-- lightbox -->
								<a class="ico-rounded lightbox" href="assets/_REAssets/AdobeStock_122227340.jpeg" data-plugin-options='{"type":"image"}'>
									<span class="fa fa-plus fs-20"></span>
								</a>
							</span>
						</span>
						<img class="img-fluid" src="assets/_REAssets/AdobeStock_122227340.jpeg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3>Corporate Design</h3>
						<ul class="list-inline categories m-0">
							<li><i class="fa fa-trophy"></i></li>
							<li>2017 Award Winner</li>
					</div>
				</div>

			</div><!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix awards">

				<div class="item-box">
					<figure>
						<img class="img-fluid" src="assets/_REAssets/winners.jpg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3><i class="fa fa-trophy"></i> - 2018 Gala - Big Winners</h3>
						<ul class="list-inline categories m-0">
						</ul>
					</div>
				</div>

			</div><!-- /item -->

			<!-- item -->
			<div class="col-md-3 col-sm-3 mix awards">

				<div class="item-box">
					<figure>
						<img class="img-fluid" src="assets/_REAssets/promising.jpg" width="600" height="399" alt="">
					</figure>

					<div class="item-box-desc">
						<h3><i class="fa fa-trophy"></i> - 2017 Gala - Most Promising New Business Winner</h3>
						<ul class="list-inline categories m-0">
						</ul>
					</div>
				</div>

			</div><!-- /item -->

		</div>

	</div>

</section>
<!-- /PORTFOLIO -->


<!-- Testimonials -->
<section class="section-xs lightblue">

	<div class="container">

		<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>

			<div class="testimonial">
				<figure>
					<img class="rounded" style="height: 150px; width: 150px;" src="assets/_REAssets/Felix-Antoine.JPG" alt="" />
				</figure>

				<div class="testimonial-content p-0">
					<p class="lead font-style-italic fs-15 text-blue"><i>“You need to always have your eye on the ball. You need to have your eye on the ball financially, commercially and also operationally.”</i></p>
					<cite class="text-red">
						Felix-Antoine Paradis
						<span>C.E.O. Rocket Elevators</span>
					</cite>
				</div>

			</div>

			<div class="testimonial">
				<figure>
					<img class="rounded" style="height: 150px; width: 150px;" src="assets/_REAssets/Val.JPG" alt="" />
				</figure>

				<div class="testimonial-content p-0">
					<p class="lead font-style-italic fs-15 text-blue">“Results matter -- and results are, at the end of the day, all that really does matter.”</p>
					<cite class="text-red">
						Valerie Beaupre
						<span>Employee of the month, Rocket Elevators</span>
					</cite>

				</div>

			</div>

		</div>

	</div>

</section>
<!-- /Testimonials -->


<!-- News -->
<section id="news">

	<div class="container">

		<div class="heading-title heading-dotted text-center">
			<h1>NEWS</h1>
		</div>

		<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>

			<div class="img-hover">
				<a href="https://montrealgazette.com/news/local-news/berri-uqam-metro-stations-32-million-upgrade-includes-elevators" target="_blank">
					<img class="img-fluid" src="assets/_REAssets/News/0122-city-berri-uqam-3.jpg" alt="">
				</a>
				<h4 class="text-left mt-20"><a href="https://montrealgazette.com/news/local-news/berri-uqam-metro-stations-32-million-upgrade-includes-elevators" target="_blank">Berri-UQAM métro station's $32-million upgrade includes elevators</a></h4>
				<li>
					<i class="fa fa-calendar"></i>
					Aug 9th 2018
				</li>
			</div>

			<div class="img-hover">
				<a href="https://futurism.com/space-elevator-japan/" target="_blank">
					<img class="img-fluid" src="assets/_REAssets/News/space.jpg" alt="">
				</a>
				<h4 class="text-left mt-20"><a href="https://futurism.com/space-elevator-japan/" target="_blank">Japan Will Soon Conduct
						The First Test of Elevator Movement in Space</a></h4>
				<li>
					<i class="fa fa-calendar"></i>
					Sept 5th, 2018
				</li>
			</div>

			<div class="img-hover">
				<a href="https://diginomica.com/2018/08/10/thyssenkrupp-elevators-gets-a-lift-from-digitalisation-with-microsoft-azure/" target="_blank">
					<img class="img-fluid" src="assets/_REAssets/News/download.jpg" alt="">
				</a>
				<h4 class="text-left mt-20"><a href="https://diginomica.com/2018/08/10/thyssenkrupp-elevators-gets-a-lift-from-digitalisation-with-microsoft-azure/" target="_blank">ThyssenKrupp Elevators gets a lift from digitalisation with Microsoft Azure</a></h4>
				<li>
					<i class="fa fa-calendar"></i>
					Aug 10, 2018
				</li>
			</div>

			<div class="img-hover">
				<a href="https://www.rd.com/culture/the-real-reason-elevators-have-those-small-holes/" target="_blank">
					<img class="img-fluid" src="assets/_REAssets/News/download (1).jpg" alt="">
				</a>
				<h4 class="text-left mt-20"><a href="https://www.rd.com/culture/the-real-reason-elevators-have-those-small-holes/"
						target="_blank">The Real Reason Elevators Have Those Small Holes</a></h4>
				<li>
					<i class="fa fa-calendar"></i>
					Aug 30, 2018
				</li>
			</div>

			<div class="img-hover">
				<a href="https://www.savingadvice.com/articles/2018/08/29/1060868_why-home-elevators-are-more-affordable-than-you-think.html"
					target="_blank">
					<img class="img-fluid" src="assets/_REAssets/News/download (2).jpg" alt="">
				</a>
				<h4 class="text-left mt-20"><a href="https://www.savingadvice.com/articles/2018/08/29/1060868_why-home-elevators-are-more-affordable-than-you-think.html"
						target="_blank">Why Home Elevators Are More Affordable Than You Think</a></h4>
				<li>
					<i class="fa fa-calendar"></i>
					Aug 29, 2018
				</li>
			</div>

			<div class="img-hover">
				<a href="https://www.nmsureport.com/2018/08/29/global-passenger-elevators-market-forecast-trend-analysis-competition-tracking-review-2017-to-2022/"
					target="_blank">
					<img class="img-fluid" src="assets/_REAssets/News/images (1).jpg" alt="">
				</a>
				<h4 class="text-left mt-20"><a href="https://www.nmsureport.com/2018/08/29/global-passenger-elevators-market-forecast-trend-analysis-competition-tracking-review-2017-to-2022/"
						target="_blank">Global Passenger Elevators Market Forecast, Trend Analysis & Competition Tracking – Review 2017 to
						2022
					</a></h4>
				<li>
					<i class="fa fa-calendar"></i>
					Aug 29, 2018
				</li>
			</div>

		</div>

	</div>

</section>
<!-- /News -->


<!-- Clients -->
<section id="clients" class="alternate">

	<div class="container">

		<div class="heading-title heading-dotted text-center">
			<h2>Some Of Our Clients</h2>
		</div>

		<ul class="row clients-dotted list-inline">

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images (7).png" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images.png" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images.jpg" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images (3).png" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images (6).png" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images (6).jpg" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images (5).png" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images (5).jpg" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images (4).jpg" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images (3).jpg" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images (1).jpg" alt="client" />
			</li>

			<li class="col-md-3 col-sm-3 col-6">
				<img class="img-fluid" src="assets/_REAssets/Logos/images (1).png" alt="client" />
			</li>

		</ul>

	</div>

</section>
<!-- /Clients -->


<!-- Contact -->
<section id="contact">

	<div class="container">

		<header class="text-center mb-60">

			<div class="heading-title heading-dotted text-center">
				<h1>Contact Us</h1>
			</div>
			<p class="lead font-lato text-blue fs-25">Go ahead! Don't hesitate!</p>
			<hr />

		</header>

		<div class="row">

			<!-- FORM -->
			<div class="col-md-8 col-sm-8">
				<h3>Do not hesitate to say <strong><em>Hello!</em></strong></h3>

				<!-- Alert Success -->
				<div id="alert_success" class="alert alert-success mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Thank You!</strong> Your message successfully sent!
				</div><!-- /Alert Success -->

				<!-- Alert Failed -->
				<div id="alert_failed" class="alert alert-danger mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>[SMTP] Error!</strong> Internal server error!
				</div><!-- /Alert Failed -->

				<!-- Alert Mandatory -->
				<div id="alert_mandatory" class="alert alert-danger mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
				</div><!-- /Alert Mandatory -->


				<%= form_for :contact_us, url: url_for(controller: 'pages', action: 'contact_us_post'), :html => {id: "sendMessage", :class => ""}, :multipart => true do |f|%>

					<fieldset>

						<input type="hidden" name="action" value="contact_send" />

						<div class="row">

							<div class="col-md-4">
								<p>
									<%= f.label "Full Name *" %>
									<%= f.text_field :Full_name, required: true, class: "form-control input-text elevators" %>
								</p>
							</div>

							<div class="col-md-4">
								<p>
									<%= f.label "Business Name *" %>
									<%= f.text_field :Business, required: true, class: "form-control input-text elevators" %>
								</p>
							</div>

							<div class="col-md-4">
								<p>
									<%= f.label "E-mail Address *" %>
									<%= f.text_field :Email, required: true, class: "form-control input-text elevators" %>
								</p>
							</div>

							<div class="col-md-4">
								<p>
									<%= f.label "Phone *" %>
									<%= f.text_field :Phone, required: true, class: "form-control input-text elevators" %>
								</p>
							</div>

							<div class="col-md-8">
								<p>
									<%= f.label "Project Name *" %>
									<%= f.text_field :Project_Name, required: true, class: "form-control input-text elevators" %>
								</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<p>
									<%= f.label "Description *" %>
									<%= f.text_field :Description, required: true, class: "form-control input-text elevators" %>
								</p>
							</div>

							<div class="col-md-4">
								<p>
									<%= f.label "Department *" %>
									<%= f.select(:Department, [['Residential', 'Residential'], ['Commercial', 'Commercial']], {}, required: true, class: "form-control input-text elevators") %>
									<%# f.select :status,[[],['Created','Created'],['Deleted','Deleted'], ['Modified','Modified'],['Stored','Stored'],['Trained/Broken','Trained/Broken'], ['Unnecessary','Unnecessary']], prompt: "Please Select" %>
								</p>
							</div>
						</div>

						<div class="row">

							<div class="col-md-12">
								<p>
									<%= f.label "Message *" %>
									<%= f.text_area :Message, required: true, maxlength: "10000", rows: "8", class: "form-control input-text text-left elevators" %>
								</p>
							</div>

						</div>

						<div class="row">

							<div class="col-md-12">
								<%# <label for="contact:attachment">File Attachment</label> %>
								<!-- custom file upload -->
								<%= f.label "File" %>
								<%= f.file_field 'File' %>
								<%# <input class="custom-file-upload elevators" type="file" id="file" name="contact_us[File]" id="contact:attac" data-btn-text="Select a File"> %>
								<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>
							</div>

						</div>

					</fieldset>

					<div class="row">

						<div class="col-md-12 text-center">
							<p>
								<%= button_tag(class: "btn btn-primary") do %>
									<i class="fa fa-check"></i> SEND MESSAGE
								<% end %>
							</p>
						</div>

					</div>

				<% end %>

			</div> <!-- /FORM -->

			<!-- INFO -->
			<div class="col-md-4 col-sm-4">
				<h2>Visit Us</h2>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.0429937847894!2d-71.28188348443373!3d46.84284354841631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897f6ac637a1f%3A0x357d156c701453e3!2sRocket+Elevators!5e0!3m2!1sen!2sca!4v1536243783008"
					width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				<hr />

				<p>
					<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 725 Boulevard Lebourneuf, <br> Quebec
						City, Canada, G2J 0C4</span>
					<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1-418-580-7055">418-580-7055</a></span>
					<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="info@rocketelevators.info">info@rocketelevators.info</a></span>
				</p>

			</div> <!-- /INFO -->

		</div>

	</div>

</section>